/*
Error: Invalid CSS after "...orm-switch-bg: ": expected "}", was "url("data:image..."
        on line 2116 of scss/add-product-preview.scss

2111:                 @media ($sm-1679) { font-size: 14px;}
2112:                 @media ($sm-991) { padding-bottom: 10px; width: 82%;}
2113:                 @media ($sm-767) { padding-bottom: 0; width: 87%;}
2114:                 @media ($sm-479) { padding-bottom: 0; width: 82%;}
2115:             }
2116:             .form-check-input{ float: none; width: 44px; height: 24px; border-radius: 30px; transition: all .5s; outline: 0; box-shadow: none; border: 0; background-color: #ccc ; --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e"); cursor: pointer; margin: 0;
2117:                 @media ($sm-1679) { width: 36px; height: 20px;}
2118:                 &:checked{ background-color: #5090CC;  }
2119:             }
2120:             &+.form-switch{margin-top: 10px;}
2121:         }

Backtrace:
scss/add-product-preview.scss:2116
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:690:in `block'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:468:in `update_stylesheet'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:449:in `on_file_changed'
/usr/share/rubygems-integration/all/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/event/config.rb:28:in `call'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/event/processor.rb:117:in `block in _process_changes'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/thread.rb:26:in `rescue_and_log'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/event/processor.rb:116:in `_process_changes'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/event/processor.rb:25:in `block in loop_for'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/event/processor.rb:20:in `loop'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/event/processor.rb:20:in `loop_for'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/event/loop.rb:85:in `_process_changes'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/event/loop.rb:51:in `block in start'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/thread.rb:26:in `rescue_and_log'
/usr/share/rubygems-integration/all/gems/listen-3.9.0/lib/listen/thread.rb:18:in `block in new'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...orm-switch-bg: \": expected \"}\", was \"url(\"data:image...\"\A         on line 2116 of scss/add-product-preview.scss\A \A 2111:                 @media ($sm-1679) { font-size: 14px;}\A 2112:                 @media ($sm-991) { padding-bottom: 10px; width: 82%;}\A 2113:                 @media ($sm-767) { padding-bottom: 0; width: 87%;}\A 2114:                 @media ($sm-479) { padding-bottom: 0; width: 82%;}\A 2115:             }\A 2116:             .form-check-input{ float: none; width: 44px; height: 24px; border-radius: 30px; transition: all .5s; outline: 0; box-shadow: none; border: 0; background-color: #ccc ; --bs-form-switch-bg: url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e\"); cursor: pointer; margin: 0;\A 2117:                 @media ($sm-1679) { width: 36px; height: 20px;}\A 2118:                 &:checked{ background-color: #5090CC;  }\A 2119:             }\A 2120:             &+.form-switch{margin-top: 10px;}\A 2121:         }"; }
